# Node
node_modules/
dist/

# Environment
.env
.env.local

# C3 generated
**/gen/cache/**
**/.fingerprints.txt
**/jsconfig.json
.vs-cache
.c3nbrc.js

# IDE
.vscode/
.idea/
.cursor/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
